/* Author: Miranda Ward */
html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E8F1F2;
}

.nav ul {
    background-color: #13293D;
    margin:0;
    padding:10px;
    list-style:none;
    width: 99%;
    height: 50px;
}

.nav ul li {
    float: left;
    height: 30px;
    padding: 10px 10px;
}

.nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #E8F1F2;
}

.nav ul li a:hover {
    color: #1B98E0;
}

.main-content {
    padding: 10px 15px;
    margin: 0;
}

.main-text {
    width: 50%;
    display: inline-block;
}

.headshot {
    float: right;
    height: 300px;
    width: 300px;
}

.headerMW{
    height: 30px;
    width: 30px;
}
